<h3>Group Members</h3>

<div class="container-sm">
    <table class="table table-striped table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let member of members">
                <td>{{ member.name }}</td>
                <td>{{ member.role }}</td>
                <td>{{ member.isActive ? 'Active' : 'Inactive' }}</td>
            </tr>
        </tbody>
    </table>
</div>